<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.sys.mapper.PlayerMapper">
    <insert id="registerPlayer">
        INSERT INTO player(PlayerName,CurrentRoomID,CurrentWeight,MaxCarryWeight,PassWord) VALUES (#{playerName},1,0,100,#{passWord})
    </insert>
    <update id="renewPlayer">
        UPDATE player SET PassWord = #{passWord} WHERE PlayerName = #{playerName}
    </update>
    <update id="setLogin">
        UPDATE player SET Status = 1 WHERE PlayerID = #{playerID}
    </update>
    <update id="setOffLine">
        UPDATE player SET Status = 0 WHERE PlayerID = #{uId}
    </update>

    <select id="getAllPlayers" resultType="com.example.back.sys.entity.Player">
        SELECT * FROM player
    </select>
    <select id="getPlayerByName" parameterType="java.lang.String" resultType="com.example.back.sys.entity.Player">
        SELECT * FROM player WHERE PlayerName = #{playerName}
    </select>
    <select id="judgeExist" resultType="com.example.back.sys.entity.Player">
        SELECT * FROM player WHERE PlayerName = #{playerName} AND PassWord =#{passWord}
    </select>
    <select id="checkPlayerOnline" resultType="java.lang.Integer">
        SELECT PlayerID FROM player WHERE Status = 1
    </select>
</mapper>