<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.back.sys.mapper.RoomMapper">
    <update id="renewPlayer">
        UPDATE player SET CurrentRoomID = #{currentRoomID} WHERE PlayerName = #{playerName}
    </update>

    <select id="findRoomByRoomId" resultType="com.example.back.sys.entity.Room">
        SELECT * FROM room WHERE RoomID = #{RoomID}
    </select>
</mapper>